language: python
python:
  - "3.4"
install:
  - pip install -r requirements.txt
  - pip install coveralls
  - sudo apt-get install texlive-latex-extra -y
script:
  - coverage run --source=app manage.py test
after_success:
  - coveralls
