#menu {
	font-size: 14px;
	position: static;
	height: 40px;
}

#menu ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

#menu li.topmenu {
  float:left;
}

.topmenu a {
	float: left;
	width: 110px;
	text-align: center;
}

.topmenu ul{
	display: none;
}

.topmenu a, .submenu a{
	padding: 1px 5px;
	border: 1px solid #525151;
	border-collapse: collapse;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	background-color: #999999;
	margin: 0;
}

.submenu a{
  font-size:12px;
  width:110px;
  position:relative;
  clear:both; /* special IE6 */
}

#menu a:hover, .topmenu.on a {
	color: #FFFFFF;
	background-color: #CCCCCC !important;
}

.topmenu:hover ul {
  display:block;  
  z-index:500;
}
