<!DOCTYPE html>

<!--

* Purpose : Basisseite mit Navigation

* Creation Date :

* Last Modified :

* Author : mattis

* Coauthors :   

* Sprintnumber : 1,4

* Backlog entry : 

-->



<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>LatexWebOffice</title>
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->	
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrapflat.min.css">
	<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="/static/jstree/themes/default/style.min.css">
	<link rel="stylesheet" href="/static/css/navigation/nav.css">
    <link rel="stylesheet" href="/static/css/general.css">

	<!-- Javascript -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/jquery-ui/jquery-ui.min.js"></script>
	<script src="/static/jstree/jstree.min.js"></script>
    <!-- datetime formatter -->
    <script src="/static/js/moments.min.js"></script>
    <script src="/static/js/moments.locale.de.js"></script>
    <script>moment.locale("de");</script>
	<script src="/static/js/nav/nav.js"></script>
    <script src="/static/js/scrollableblock.js"></script>
    <script src="/static/js/general.js"></script>
	<script>var ERROR_MESSAGES=JSON.parse("{{ ERROR_MESSAGES }}".replace(/&quot;/g, "\"").replace(/(?:\r\n|\r|\n)/g,''));</script> <!-- Standard Fehlermeldungen vom Server (kann nicht in den static Ordner) -->
	<script>var user = "{{ user.email }}";</script>
	<!-- seitenspezifische Header -->
	{% block header %}{% endblock %}
</head>
<body>

    {% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container-fluid-header">
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><!-- bei kleinen Displays soll sich die Buttons der Navigation zusammenziehen und über diesen Button als Dropdown angezeigt werden -->
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <ul class="nav navbar-nav"><li><a class="navbar-brand" href="/"><img src="/static/img/icon.png" onmouseover=this.src="/static/img/icon_selected.png"; onmouseout=this.src="/static/img/icon.png"; id="logo" alt="Logo vom LatexWebOffice"></a></li></ul><!-- das Logo mit Link zur startseite soll immer angezeigt werden -->
	    </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
			{% if user.is_authenticated %}<!-- nur eingeloggte User sollen Projekte und Vorlagen sehen können -->
                    <li><a href="/projekt/">Projekte</a>
                    </li>
                    <li><a href="/vorlagen/">Vorlagen</a>
                    </li>
                    {% else %}
		    <li><a href="/registration/">Registrieren</a> <!-- noch nicht eingeloggte User sehen dafür Registrierung und Login -->
                    </li>
                    <li><a href="/login/">Einloggen</a>
                    </li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="glyphicon glyphicon-question-sign dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/faq/">FAQ</a>
                            </li>
			    <li><a href="/impressum/">Impressum</a>
                            </li>
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="glyph-question-sign-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.email }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/logout/">Abmelden</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    {% endblock %}
    <!-- Sämtliche Inhalte sollten innerhalb des containers geschrieben werden. 
	Daher sollte jede andere HMTL datei diese wrapper_datei erweitern und lediglich den content block überschreiben 
	-->
    <div id='maincontainer' class="container-fluid container-fill container-fluid-content">{% block content %}{% endblock %}
</body>

</html>
