<!DOCTYPE html>

<!--

* Purpose :

* Creation Date :

* Last Modified :

* Author : mattis

* Coauthors :   

* Sprintnumber : 1,4

* Backlog entry : 

-->



<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>LatexWebOffice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Styles -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/css/navigation/nav.css">

	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<!-- bootstrap -->
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>

	<!-- seitenspezifische Header -->
	{% block header %}{% endblock %}
</head>
<body>

    {% block navbar %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="/"><img src="/static/img/icon.png" id="logo" alt="Logo vom LatexWebOffice">
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="/projekt/">Projekte</a>
                    </li>
                    <li><a href="/vorlagen/">Vorlagen</a>
                    </li>
                    {% else %}
                    <li><a href="/registration/">Registrieren</a>
                    </li>
                    <li><a href="/login/">Einloggen</a>
                    </li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="glyphicon glyphicon glyphicon-question-sign dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/impressum/">Impressum</a>
                            </li>
                            <li><a href="/hilfe/">Hilfe</a>
                            </li>
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/logout/">Abmelden</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    {% endblock %}
    <script>
        <!-- setze den tab auf active, welcher gerade angezeigt wird
        $(document).ready(function() {
            $('.nav li a').on('click', function() {
                $(this).parent().parent().find('.active').removeClass('active');
            });
            $('.nav').find('a[href="' + location.pathname + '"]').parents('li').addClass('active');
        });
    </script>
    <!-- Sämtliche Inhalte sollten innerhalb des containers geschrieben werden. 
	Daher sollte jede andere HMTL datei diese wrapper_datei erweitern und lediglich den content block überschreiben 
	-->
    <div class="container-fluid container-fill">{% block content %}{% endblock %}</div>
</body>

</html>
