<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>LatexWebOffice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div id="wrapper">
	<div id="kopfzeile">
	<a href="../"><img src="/static/img/icon.png" id="logo" title="Logo vom LatexWebOffice" alt="Logo vom LatexWebOffice"></a>
	<a href="/registration/"><div class="whitebutton">REGISTRIEREN</div></a>
	 <a href="/login/"><div class="greenbutton">ANMELDEN</div></a>
	
	</div>
	<div id="menueleiste">
	 {% block menu %}{% endblock %}
	</div>
	<div id="inhalt">
	
        {% block content %}{% endblock %}
		</div>
	<div id="fusszeile">
		<ul id="fusszeile_menue">
			<li>Impressum</li>
			<li>Hilfe</li>

		</ul>
	</div>
    </div>
</body>
</html>