<!--
@author: Martin Koláček, Franziska Everinghoff
@creation: 03.11.2014 - sprint-nr: 1
@last-change: 20.11.2014 - sprint-nr: 2
-->

<!-- embedding file: _wrapper.html -->
{% extends "_wrapper.html" %}

{% block header %}
<link rel="stylesheet" href="/static/css/listselector.css">
<link rel="stylesheet" href="/static/css/menuleiste.css">
<script src="/static/js/listselector.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="/static/js/dateien.js"></script>
{% endblock %}

<!-- content to embed in wrapper.html as content -->
{% block content %}
<h1>Übersicht über die Dateien</h1>
<!-- Fehlermeldungen als Dialoge -->
<div id="dialog_keine_rechte_loeschen" title="Löschen fehlgeschlagen" style="display: none;">
  <p>Sie haben nicht ausreichend Rechte, um diese Aktion durchzuführen.
  </p>
</div>
<div id="dialog_keine_rechte_dateien_abrufen" title="Abfrage fehlgeschlagen" style="display: none;">
  <p>Sie haben nicht ausreichend Rechte, um diese Aktion durchzuführen.
  </p>
</div>
<div id="dialog_ungueltige_eingabe" title="Ungültige Eingabe" style="display: none;">
  <p>Sie haben einen ungültiges Zeichen verwendet.
  </p>
</div>
<div id="dialog_leere_eingabe" title="Ungültige Eingabe" style="display: none;">
  <p>Bitte geben Sie mindestens ein Zeichen ein.
  </p>
</div>
<div id="dialog_ordner_existiert_nicht" title="Abfrage fehlgeschlagen" style="display: none;">
  <p>Es existiert kein derartiges Verzeichnis.
  </p>
</div>
<div id="dialog_ordner_existiert" title="Ungültige Eingabe" style="display: none;">
  <p>Es existiert bereits ein Ordner unter dem angegebenen Namen.
  </p>
</div>
<div id="dialog_datei_existiert_nicht" title="Ungültige Eingabe" style="display: none;">
  <p>Es konnte keine Datei gefunden werden.
  </p>
</div>
<!-- Ende der Fehlermeldungen -->
<div id="dialog_keine_auswahl" title="Keine Auswahl getroffen" style="display: none;">
  <p>Sie haben leider keine Datei bzw. keinen Ordner ausgewählt. Bitte treffen Sie eine Auswahl, um die Funktionen der Webseite nutzen zu können.
  </p>
</div>
<div id="dialog_datei_ordner_loeschen" title="Datei/Ordner löschen" style="display: none;">
  <p>Bitte wählen Sie aus, ob Sie die Datei oder den Ordner (und dessen Unterordner) löschen möchten. Es werden alle Unterordner vom ausgewählten Ordner gelöscht.
  </p>
  <p onClick="removePopup('remove');checkRemoveFile(getFileId(),'file')"> Datei löschen</p>
  <p onClick="removePopup('remove');checkRemoveFolder(getFolderId(),'folder')"> Ordner löschen</p>
</div>
<div id="dialog_datei_neuer_name" title="Datei umbenennen" style="display: none;">
  <p>Bitte gib einen neuen Namen für die Datei ein.
  </p>
  <input type="text" id="file_name" value="getFileName()" style="width: 200px;height: 30px;">
  <input type="button" onClick="renameFolderAndFiles(getFileId(),'file')" value="Speichern">
</div>
<div id="dialog_ordner_neuer_name" title="Ordner umbenennen" style="display: none;">
  <p>Bitte gib einen neuen Namen für den Ordner ein.
  </p>
  <input type="text" id="folder_name" value="" style="width: 200px;height: 30px;">
  <input type="button" onClick="renameFolderAndFiles(getFolderId(),'folder')" value="Speichern">
</div>
<div id="dialog_datei_ordner_umbenennen" title="Datei/Ordner umbenennen" style="display: none;">
  <p>Bitte wählen Sie aus, ob Sie die Datei oder den Ordner umbenennen möchten. 
  </p>
  <p onClick="removePopup('rename');showPopup('new_name_file');"> Datei umbenennen</p><!--renameFolderAndFiles(getFileId(),'file')renameFolderAndFiles(getFolderId(),'folder')-->
  <p onClick="removePopup('rename');showPopup('new_name_folder');"> Ordner umbenennen</p>
</div>
<div id="inhalt">

    {% comment %}
        Stub Page
    {% endcomment %}
	
	<div id="menu">
	
		<ul>
		  <li id="open" onClick="openEditor()" class="topmenu">
			<a>Öffnen</a>
		  </li>
		  <li class="topmenu">
			<a href="">Erstellen</a>
		  </li>
		  <li class="topmenu">
			<a href="">Hochladen</a>
		  </li>
		  <li class="topmenu">
			<a id="download" href="#">Herunterladen</a>
		  </li>
		  <li onClick="showPopup('rename')" class="topmenu">
			<a>Umbenennen</a>
		  </li>
		  <li class="topmenu">
			<a href="">Verschieben</a>
		  </li>
		  <li onClick="showPopup('remove')" class="topmenu">
			<a>Löschen</a>
		  </li>
		</ul>
		<ul>
		
	</div>
	<div id="dateien">
	
	</div>
	
    
</div>
</div>
{% endblock %}
<!-- end of content to embed -->
