{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
{% endblock %}

<!-- Inhalt -->
{% block content %}
<!-- content area with login -->
<div id='inhalt'>
<form id="poster">{% csrf_token %}
	command:<input id="command", name="command" type="text" value="" /><br>
	name:<input id="name", name="name" type="text" value="" /><br>
	id:<input id="id", name="id" type="text" value="" /><br>
	folderid:<input id="folderid", name="folderid" type="text" value="" /><br>
	content:<input id="content", name="content" type="text" value="" /><br>
	files:<input type="file" name="files" id="files" multiple>
    <input type="submit" value="Send" />
</form>


<textarea id='response' cols='150' rows='30'>
</textarea>

<script>
$('#poster').submit( function(e) {
    e.preventDefault();

    var data = new FormData(this); // <-- 'this' is your form element

    $.ajax({
            url: '/documents/',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',     
            success: function(data,status,xhr){//http://stackoverflow.com/questions/16086162/handle-file-download-from-ajax-post

			// check for a filename
		var filename = "";
		var disposition = xhr.getResponseHeader('Content-Disposition');
		if (disposition && disposition.indexOf('attachment') !== -1) {
		var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
		var matches = filenameRegex.exec(disposition);
		if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
		}
		var type = xhr.getResponseHeader('Content-Type');
        var blob = new Blob([response], { type: type });
	var URL = window.URL || window.webkitURL;
            var downloadUrl = URL.createObjectURL(blob);
	    if (filename) {
                // use HTML5 a[download] attribute to specify filename
                var a = document.createElement("a");
                // safari doesn't support this yet
                if (typeof a.download === 'undefined') {
                    window.location = downloadUrl;
                } else {
                    a.href = downloadUrl;
                    a.download = filename;
                    document.body.appendChild(a);
                    a.click();
                }
            } else {
            }

		    console.log(data)
		    $('textarea#response').val(JSON.stringify(data.response))
	    }});
});
</script>
</div>
{% endblock %}

