{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}

<script>
var AVAILABLE_COMMANDS = JSON.parse("{{ AVAILABLE_COMMANDS }}".replace(/&#39;/g, "\"")); 

</script>
<style type="text/css">
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
</style>
{% endblock %}

<!-- Inhalt -->
{% block content %}
<!-- content area with login -->
<div class="col-md-12" id='inhalt'>
    <form id="poster">{% csrf_token %} 
	    <div class="form-group">
	    <label for="command"> Command</label>
		<select class="form-control" name="command" id="command" size="5">
		</select>
	    </div>
		<div id="div-name" class="hider form-group">
	    <label for="name">Name</label>
            <input class="form-control" id="name" , name="name" type="text" value="" />
		</div>
		<div id="div-id" class="hider form-group">
	    <label for="id">Id</label>
            <input id="id" class="form-control" name="id" type="text" value="" />
		</div>
        <div id="div-formatid" class="hider form-group">
	    <label for="id">Formatid</label>
            <input id="formatid" class="form-control" name="formatid" type="text" value="" />
		</div>
        <div id="div-compilerid" class="hider form-group">
	    <label for="id">Compilerid</label>
            <input id="compilerid" class="form-control" name="compilerid" type="text" value="" />
		</div>
		<div id="div-folderid" class="hider form-group">
	    <label for="folderid">Folderid</label>
            <input id="folderid" class="form-control" name="folderid" type="text" value="" />
		</div>
		<div id="div-content" class="hider form-group">
	    <label for="content">Content </label>
            <input id="content" class="form-control" name="content" type="text" value="" />
		</div>
		<div id="div-files" class="hider form-group">
	    <label for="files">files</label>
            <input type="file" name="files" class="form-control" id="files" multiple>
		</div>
		<div class="form-group">
        <input type="submit" class="form-control btn btn-default" value="Send" />
		</div>
    </form>

    <pre id='response'>
    </pre>
<script>
    //Die commands sortieren, sodass man sie in der liste leicht wiederfinden kann
    sortedCommandKeys = []
    for (cmd in AVAILABLE_COMMANDS) sortedCommandKeys.push(cmd);
    sortedCommandKeys.sort();
    //Jeder command wird als option eingefügt
    for (var i = 0; i < sortedCommandKeys.length; ++i) {
        cmd = sortedCommandKeys[i]
        $("#command")
            .append('<option value=' + cmd + '>' + cmd + '</option>');
    }

    //Falls ein command angeklickt werden, sollen parameter, die nicht benötigt werden, ausgeblendet werden
    $("#command")
        .change(function(key, value) {
            $("select option:selected")
                .each(function() {
                    var str = $(this)
                        .text();
                    var paras = AVAILABLE_COMMANDS[str];
                    var inputs = $(".hider");
                    inputs.each(function() {
                        //   this.hide()
                        $("#" + this.id)
                            .hide()

                    });
                    //Die Parameter, die benötigt werden, sollen eingeblendet werden
                    for (input in AVAILABLE_COMMANDS[str]) {
                        $("#div-" + AVAILABLE_COMMANDS[str][input]['para']['name'])
                            .show()
                    }

                });

        })
        .change();




    function syntaxHighlight(json) { // http://stackoverflow.com/questions/4810841/how-can-i-pretty-print-json-using-javascript
        json = json.replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;');
        return json.replace(
            /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
            function(match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
    }
    $('#poster')
        .submit(function(e) {
            e.preventDefault();

            var data = new FormData(this); // <-- 'this' is your form element
            console.log(data);

            $.ajax({
                url: '/documents/',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data, status, xhr) { //http://stackoverflow.com/questions/16086162/handle-file-download-from-ajax-post

                    // check for a filename
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var $inputs = $('#poster :input');

                        // not sure if you wanted this, but I thought I'd add it.
                        // get an associative array of just the values.
                        var params = {};
                        $inputs.each(function() {
                            params[this.name] = $(this).val();
                        });


                        var form = $('<form method="POST" action="' + '/documents/' + '">');
                        $.each(params, function(k, v) {
                            console.log(k, v);
                            form.append($('<input type="hidden" name="' + k +
                                '" value="' + v + '">'));
                        });
                        $('body').append(form);
                        form.submit();
                    } else {

                        console.log(data)
                        $('#response')
                            .html('<b>Status: </b>' + data.status + '<br>' + '<b>Response: </b><br>' +
                            syntaxHighlight(JSON.stringify(data.response, null, '\t')) +
                                '<p><b>Request: </b><br>' + syntaxHighlight(JSON.stringify(
                                    data.request, null, '\t')) + '</p>'
                            );
                    }
                }
            });
        });
</script>
    
</div>
{% endblock %}

