{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}

<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="/static/js/splitter.js"></script>

<style type="text/css" media="all">

.simple {
	height: 600px;
	border: 0px solid #aaa;
}
.simple div {
	overflow: auto;
}
.vsplitbar {
	width: 5px;
	background: #cab;
}
</style>
<script type="text/javascript">
$().ready(function() {
	$(".simple").splitter();
});
</script>
{% endblock %}


{% block content %}

<div class="simple">
	<div>
	This is the left pane of the minimal vertical splitter. Easy, eh?
	</div>
	<div>
	This is the right pane of the minimal vertical splitter. No initial size or position was given, so the two panes start at the same size. The other examples are more complex, but show typical markup and code.
	</div>
</div>

{% endblock %}