<!--
@author: Franziska Everinghoff
@creation: 20.11.2014 - sprint-nr: 2
@last-change: 29.11.2014 - sprint-nr: 2
-->

{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/jquery.geturlparam.js"></script>
<script src="/static/js/ace/ace.js"></script>
<script src="/static/js/editor.js"></script>
{% endblock %}

<!-- Inhalt -->
{% block content %}
<!-- TODO: Prüfung der Authentifizierung -->
<div id="inhalt">
	<table id="editor_table1" style="width: 100%">
		<!-- Menüleiste 1 mit Drop-Down-Menü: Bearbeiten, Vorlagen, Assistent, Bibliographie, Ansicht, 
		Optionen, Hilfe -->
		<tr style="width: 100%">
			<td style="padding-bottom: 50px">
				<div id="menu">
					<ul>
						<li class="topmenu"><a href="">Bearbeiten</a></li>
						<li class="topmenu"><a href="">Vorlagen</a></li>
						<li class="topmenu"><a href="">Assistent</a></li>
						<li class="topmenu"><a href="">Bibliographie</a></li>
						<li class="topmenu"><a href="">Ansicht</a></li>
						<li class="topmenu"><a href="">Optionen</a></li>
						<li class="topmenu"><a href="">Hilfe</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<!-- Ende Menüleiste 1-->

		<!-- Menüleiste 2 mit Symbolen für Speichern, Zurück und Vor, Ausschneiden, Kopieren, 
		Einfügen, PDF Export, Grafik einfügen, Parallele Anzeige von TEX und PDF -->
		<tr>
			<td>
				<div id="symbolleiste">
					<button id="save" type="button">
						<i class="fa fa-floppy-o"></i> <!-- Speichern -->
					</button>
					<button id="undo" type="button">
						<i class="fa fa-undo"></i> <!-- Zurück -->
					</button>
					<button id="redo" type="button">
						<i class="fa fa-repeat"></i> <!-- Vor -->
					</button>
					<button id="cut" type="button">
						<i class="fa fa-scissors"></i> <!-- Ausschneiden -->
					</button>
					<button id="copy" type="button">
						<i class="fa fa-files-o"></i> <!-- Kopieren -->
					</button>
					<button id="paste" type="button">
						<i class="fa fa-clipboard"></i> <!-- Einfügen -->
					</button>
					<button id="compile" type="button">
						<i class="fa fa-file-pdf-o"></i> <!-- PDF-Export -->
					</button>
					<button id="insertImage" type="button">
						<i class="fa fa-file-image-o"></i> <!-- Grafik einfügen -->
					</button>
					<button id="switchView" type="button">
						<i class="fa fa-refresh"></i> <!-- parallele Anzeige von TEX und PDF-Ausgabe -->
					</button>
				</div>
			</td>
		</tr>
		<!-- Ende Menüleiste 2 mit Symbolen -->
	</table>
<div>
<div id="editor"></div>
</div>
{% endblock %}
