<!--
@author: Franziska Everinghoff
@creation: 08.01.2015 - sprint-nr: 
@last-change: 08.01.2015 - sprint-nr: 
-->
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
function scrollToPosition(id){
	var idString = "#"+id;
	var p = $( idString );
	var position = p.position();
	window.scrollTo(0, position.top-60);
}
</script> 
{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
{% endblock %}

<!-- Inhalt -->
{% block content %}
<!-- content area with login -->
<div id="inhalt">
    <div id="impressumsbox">
	<h1>FAQ</h1>
		<div class="hline_green"></div>
		<!-- FAQ Text -->
		<p>
		<p><a onclick="scrollToPosition('1');return false;" href="#">1. Welche Funktionen bietet das LatexWebOffice?</a></p>
		<p><a onclick="scrollToPosition('2');return false;" href="#">2. Wie registriere ich mich?</a></p>
		<p><a onclick="scrollToPosition('3');return false;" href="#">3. Wie erstelle ich mein erstes Projekt?</a></p>
		<p><a onclick="scrollToPosition('4');return false;" href="#">4. Wie erstelle ich eine Tex-Datei?</a></p>
		<p><a onclick="scrollToPosition('5');return false;" href="#">5. Wie füge ich Bilder in meine Datei ein?</a></p>
		<p><a onclick="scrollToPosition('6');return false;" href="#">6. Welche Beschränkungen gelten für Uploads?</a></p>
		<p><a onclick="scrollToPosition('7');return false;" href="#">7. Kann ich selbst Vorlagen erstellen?</a></p>
		<p><a onclick="scrollToPosition('8');return false;" href="#">8. Wie kann ich bestehende Vorlagen nutzen?</a></p>
		<p><a onclick="scrollToPosition('9');return false;" href="#">9. Was passiert beim Export eines Projektes?</a></p>
		<p><a onclick="scrollToPosition('10');return false;" href="#">10. Werden mobile Endgeräte unterstützt?</a></p>
		<p><a onclick="scrollToPosition('11');return false;" href="#">11. Wie gebe ich mein Projekt anderen Personen frei?</a></p>
		<p><a onclick="scrollToPosition('11');return false;" href="#">12. Wie kann ich die Freigabe eines Projekts zurücknehmen?</a></p>

	
		<p id="1"><b>1. Welche Funktionen bietet das LatexWebOffice?</b></br>
		Im LatexWebOffice lassen sich Projekte kreieren, Bilddateien hochladen und Latex Dokumente erstellen. </p>

		<p id="2"><b>2. Wie registriere ich mich?</b></br>
		Klicken Sie auf den Button oben links („Registrieren“). Geben Sie die erforderlichen Daten ein und bestätigen Sie diese. 
		Nun ist Ihr Benutzerkonto erstellt und Sie können sich mit Ihren zuvor angegebenen Daten einloggen.
		Alternativ können Sie auch auf die „Noch nicht registriert?“-Schaltfläche klicken.</p>

		<p id="3"><b>3. Wie erstelle ich mein erstes Projekt?</b></br>
		Wenn Sie eingeloggt sind, sehen Sie direkt eine Übersicht über Ihre Projekte. Klicken Sie nun auf „Erstellen“ und geben Sie Ihrem Projekt einen Namen. 
		Nun finden Sie Ihr neu angelegtes Projekt in der Liste Ihrer bestehenden Objekte. </p>

		<p id="4"><b>4. Wie erstelle ich eine Tex-Datei?</b></br>
		Erstellen Sie zuerst ein neues Projekt. Öffnen Sie dieses und wählen Sie nun "Datei erstellen" aus. Nach einem Klick öffnet sich das Editorfenster und Sie können Ihre neue Datei bearbeiten.
		
		<p id="5"><b>5. Wie füge ich Bilder in meine Datei ein?</b></br>
		Zuerst müssen Sie das Bild hochladen. Wählen Sie dazu Ihr Projekt in der Projektübersicht und 
		anschließend „Hochladen“ aus. Es öffnet sich eine Übersicht über Ihre Dateiordner. Navigieren Sie zu dem gewünschten 
		Bild und bestätigen Sie Ihre Auswahl. 
		Anschließend wählen Sie in der Dateiübersicht Ihres Projektes das gewünschte Tex-Dokument aus, öffnen es im Editor und 
		setzen den Cursor an die Stelle, an der Sie das Bild einfügen möchten. 
		Jetzt klicken Sie auf den Button „Grafik einfügen“ und wählen die passende Grafik aus. Nach einem Klick zum Bestätigen 
		ist Ihr Bild in die Datei eingefügt.</p>

		<p id="6"><b>6. Welche Beschränkungen gelten für Uploads?</b></br>
		Es lassen sich Bilder der Typen img, png, jpg und tga hochladen.</p>
		

		<p id="7"><b>7. Kann ich selbst Vorlagen erstellen?</b></br>
		Ja, diese werden aus bestehenden Projekten erstellt.</p>

		<p id="8"><b>8. Wie kann ich eigene Vorlagen nutzen?</b></br>
		In der obigen Symbolleiste finden Sie den Punkt „Vorlagen“. Wählen Sie diesen aus, um eine Auflistung der bestehenden Vorlagen zu erhalten.</p>

		<p id="9"><b>9. Was passiert beim Export eines Projektes?</b></br>
		Das Projekt wird als ZIP-Datei verpackt und lokal auf Ihrem Rechner gespeichert.</p>

		<p id="10"><b>10. Werden mobile Endgeräte unterstützt?</b></br>
		Ja, die Seite ist so designt, dass sie sich auch auf mobilen Endgeräten problemlos nutzen lässt.</p>
		
		<p id="11"><b>11. Wie gebe ich mein Projekt anderen Personen frei?</b></br>
		In der Projektübersicht findet sich die Funktion „Kollaboration“ wieder. Nach einem Druck auf den Knopf wird die E-Mail-Adresse eines bereits im LatexWebOffice registrierten Benutzers eingetragen. Das Projekt wird nun freigegeben.</p> 
		
		<p id="12"><b>12. Wie kann ich die Freigabe eines Projekts zurücknehmen?</b></br>
		In der Projektübersicht wird das Projekt markiert und der Knopf „Freigabe entziehen“ betätigt. Es erscheint eine Übersicht der Personen, denen das Projekt freigegeben worden ist. Diese können aus der Liste entfernt werden.</p><br />
		<br></br>
		<p>Erstellt am 8. Januar 2015</p>
		<!-- Ende FAQ -->	
    </div>
</div>
{% endblock %}
