<!--
@author: Martin Kolaczek, Franziska Everinghoff
@creation: 13.11.2014 - sprint-nr: 1
@last-change: 26.11.2014 - sprint-nr: 2
-->

{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
{% endblock %}

<!-- Inhalt -->
{% block content %}
<!-- content area with login -->
<div id="inhalt">
    <div id="impressumsbox">
	    <form action="/documents/" method="post" enctype="multipart/form-data">{% csrf_token %}
		    <input type="hidden" name="command" value="uploadfiles">
		    <input type="hidden" name="id" value="1">

<input type="file" value="" name="files" multiple>
<button type="submit">Hochladen</button>
</form>


	<h1>IMPRESSUM</h1>
		<div class="hline_green"></div>
		<!-- Impressumstext -->
		<p>Die angebotene Dienstleistung wird im Rahmen des Projektseminars LatexWebOffice am Institut für Informatik geleitet von:</p><br /><p>

		Dr. Dietmar Lammers</p><p>
		Büro:</p><p>
		Westfälische Wilhelms-Universität</p><p>
		Institut für Informatik</p><p>
		Einsteinstr. 62</p><p>
		D-48194 Münster </p><p>
		FON: 	+49-251-83-33707 </p><p>
		FAX: 	+49-251-83-33755</p><br /><p>

		   Rechtliches</p><p>
		  Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen</p><p>
		  wir keine Haftung für die Inhalte externer Links.</p><p>
		  Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber</p><p>
		  verantwortlich.</p><br /><p>
		 
		 Keine Abmahnung ohne vorherigen Kontakt !</p><p>
		  Sollte der Inhalt oder die Aufmachung dieser Seiten fremde Rechte</p><p>
		  Dritter oder gesetzliche Bestimmungen verletzen,</p><p>
		  so bitten wir um eine entsprechende Nachricht ohne Kostennote.</p><p>
		  Wir garantieren, dass die zu Recht beanstandeten Passagen Bilder o.E.,</p><p>
		  unverzüglich entfernt werden,</p><p>
		  ohne dass von Ihrer Seite die Einschaltung eines Rechtsbeistandes</p><p>
		  erforderlich ist.</p><p>
		  Dennoch von Ihnen ohne vorherige Kontaktaufnahme ausgelöste Kosten</p><p>
		  werden wir vollumfänglich zurückweisen und gegebenenfalls Gegenklage</p><p>
		  wegen Verletzung vorgenannter Bestimmungen einreichen. </p><br /><p>

		 Alle aus dieser Website entstehenden Rechtsstreitigkeiten unterliegen ausschließlich deutschem Recht.</p> <br />

		<p>Erstellt am 13. November 2014</p>
		<!-- Ende Impressumstext -->	
    </div>
</div>
{% endblock %}
