<!--
@author: Martin Kolaczek, Franziska Everinghoff
@creation: 13.11.2014 - sprint-nr: 1
@last-change: 13.11.2014 - sprint-nr: 1
-->

<!-- embedding file: _wrapper.html -->
{% extends "_wrapper.html" %}

<!-- content to embed in wrapper.html -->
{% block content %}
<!-- content area with login -->
<div id="inhalt">
    <div id="impressumsbox">
	<h1>IMPRESSUM</h1>
		<div class="hline_green"></div>
		
		<p>Die angebotene Dienstleistung wird im Rahmen des Projektseminars LatexWebOffice am Institut fuer Informatik geleitet von:</p><br /><p>

		Dr. Dietmar Lammers</p><p>
		Buero:</p><p>
		Westfaelische Wilhelms-Universitaet</p><p>
		Institut fuer Informatik</p><p>
		Einsteinstr. 62</p><p>
		D-48194 Muenster </p><p>
		FON: 	+49-251-83-33707 </p><p>
		FAX: 	+49-251-83-33755</p><br /><p>

		   Rechtliches</p><p>
		  Haftungshinweis: Trotz sorgfaeltiger inhaltlicher Kontrolle uebernehmen</p><p>
		  wir keine Haftung fuer die Inhalte externer Links.</p><p>
		  Fuer den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber</p><p>
		  verantwortlich.</p><br /><p>
		 
		 Keine Abmahnung ohne vorherigen Kontakt !</p><p>
		  Sollte der Inhalt oder die Aufmachung dieser Seiten fremde Rechte</p><p>
		  Dritter oder gesetzliche Bestimmungen verletzen,</p><p>
		  so bitten wir um eine entsprechende Nachricht ohne Kostennote.</p><p>
		  Wir garantieren, dass die zu Recht beanstandeten Passagen Bilder o.ae.,</p><p>
		  unverzueglich entfernt werden,</p><p>
		  ohne dass von Ihrer Seite die Einschaltung eines Rechtsbeistandes</p><p>
		  erforderlich ist.</p><p>
		  Dennoch von Ihnen ohne vorherige Kontaktaufnahme ausgeloeste Kosten</p><p>
		  werden wir vollumfaenglich zurueckweisen und gegebenenfalls Gegenklage</p><p>
		  wegen Verletzung vorgenannter Bestimmungen einreichen. </p><br /><p>

		 Alle aus dieser Website entstehenden Rechtsstreitigkeiten unterliegen ausschliesslich deutschem Recht.</p> <br />

		<p>Erstellt am 13. November 2014</p>
		
	
    </div>
</div>
{% endblock %}
<!-- end of content to embed -->
