<!--
@author: Martin Koláček  
@creation: 03.11.2014 - sprint-nr: 1
@last-change: 20.11.2014 - sprint-nr: 2
-->

<!-- embedding file: _wrapper.html -->
{% extends "_wrapper.html" %}

<!-- content to embed in wrapper.html as content -->
{% block content %}
<div id="inhalt">
<div  class="row">
    {% comment %}
        Stub Page
    {% endcomment %}

    {% if user.is_authenticated %}
        <p>Hallo, {{ user.username }}!</p>
    {% endif %}
</div>
</div>
{% endblock %}
<!-- end of content to embed -->
