<!--
@author: Martin Koláček  
@creation: 03.11.2014 - sprint-nr: 1
@last-change: 20.11.2014 - sprint-nr: 2
-->

<!-- embedding file: _wrapper.html -->
{% extends "_wrapper.html" %}

<!-- content to embed in wrapper.html as content -->
{% block header %}
<link rel="stylesheet" href="/static/css/startseite.css">
{% endblock %}
{% block content %}



<div id = "myCarousel" class = "carousel slide">
			<ol class = "carousel-indicators">
				<li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
				<li data-target = "#myCarousel" data-slide-to = "1"></li>
				<li data-target = "#myCarousel" data-slide-to = "2"></li>
				<li data-target = "#myCarousel" data-slide-to = "3"></li>
				<li data-target = "#myCarousel" data-slide-to = "4"></li>
				<li data-target = "#myCarousel" data-slide-to = "5"></li>
			</ol>
			
			<div class = "carousel-inner">
				<div class = "item active">
					<img src ="/static/img/editor.jpg" alt = "Beach" class = "img-responsive center-block" style="width: 100%;">
					<div class = "carousel-caption">
						<h4>Willkommen bei LatexWebOffice</h4>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/projekte.jpg" alt = "Girls" class = "img-responsive center-block" style="width: 100%;">
										<div class = "carousel-caption">
						<h4>Projekte</h4>
						<h2>An einem Ort versammelt und nie mehr verbummelt.</h2>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/vorlagen.jpg" alt = "Homer" class = "img-responsive center-block" style="width: 100%;">
										<div class = "carousel-caption">
						<h4>Vorlagen</h4>
						<h2>Warum die Hausarbeit neu erfinden?</h2>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/graphik.jpg" alt = "Homer" class = "img-responsive center-block" style="width: 100%;">
										<div class = "carousel-caption">
						<h4>Eingabeassistenten</h4>
						<h2>Ob Tabellen oder Graphiken, beides im Handumdrehen erstellt.</h2>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/freigabe.jpg" alt = "Homer" class = "img-responsive center-block" style="width: 100%;">
										<div class = "carousel-caption">
						<h4>Kollaboration</h4>
						<h2>Geteiltes Leid ist halbes Leid.</h2>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/faq.jpg" alt = "Homer" class = "img-responsive center-block" style="width: 100%;">
										<div class = "carousel-caption">
						<h4>FAQ</h4>
						<h2>Noch Fragen?</h2>
					</div>
				</div>
				<a	class = "carousel-control left" href = "#myCarousel" data-slide="prev">
					<span class = "icon-prev"></span>
				</a>
				
				<a	class = "carousel-control right" href = "#myCarousel" data-slide="next">
					<span class = "icon-next"></span>
				</a>
				
			</div>
		</div>

		
		<div class = "container">
            
            <div class = "row">
                
                <div class = "col-md-6">
                    
                    <h3>Einfache Bedienung</h3>
                    <p>Noch nie war Latex einfacher! Die übersichtliche Oberfläche bietet Ihnen die Funktionen, Projekte zu verwalten, neue anzulegen und bestehende zu bearbeiten. Und das in wenigen Klicks.</p>
                    
                </div>
                
                <div class = "col-md-6">
                    
                    <h3>Assistenten</h3>
                    <p>Die Assistenten gehen Ihnen zur Hand und übernehmen Ihnen die Arbeit. Ersparen Sie sich die umständliche Latex-Befehle. </p>
                    
                </div>
                
                
            </div>
			
			            <div class = "row">
                
                <div class = "col-md-6">
                    
                    <h3>Arbeiten an jedem Ort</h3>
                    <p>Ihr Arbeitsplatz begleitet Sie unterwegs. Ob zu Hause am Computer, unterwegs auf dem Smartphone oder in der Uni - Ihre Projekte sind immer einsatzbereit.</p>
                    
                </div>
                
                <div class = "col-md-6">
                    
                    <h3>Umfangreiche Exportfunktionen</h3>
                    <p>Wählen Sie aus folgenden Ausgabeformaten für Ihr Latex-Dokument aus: pdf, html, ps, dvi. </p>
                    
                </div>
               
                
            </div>
			
			<div class = "row">
                
                <div class = "col-md-6">
                    
                    <h3>Kollaboration</h3>
                    <p>Geben Sie Ihre Projekte weiteren Benutzern des LatexWebOffice frei und arbeitet an gemeinsamen daran.</p>
                    
                </div>
                
               
                
            </div>
            
        </div>
{% endblock %}

<!-- end of content to embed -->
