<!--
@author: Martin Koláček  
@creation: 03.11.2014 - sprint-nr: 1
@last-change: 20.11.2014 - sprint-nr: 2
-->

<!-- embedding file: _wrapper.html -->
{% extends "_wrapper.html" %}

<!-- content to embed in wrapper.html as content -->
{% block header %}
<link rel="stylesheet" href="/static/css/startseite.css">
{% endblock %}
{% block content %}

<div id = "myCarousel" class = "carousel slide">
			<ol class = "carousel-indicators">
				<li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
				<li data-target = "#myCarousel" data-slide-to = "1"></li>
				<li data-target = "#myCarousel" data-slide-to = "2"></li>
			</ol>
			
			<div class = "carousel-inner">
				<div class = "item active">
					<img src ="/static/img/editor.jpg" alt = "Beach" class = "img-responsive">
					<div class = "carousel-caption">
						<h2>Willkommen bei LatexWebOffice</h2>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/projekte.jpg" alt = "Girls" class = "img-responsive">
										<div class = "carousel-caption">
						<h3>Projekte</h3>
						<p>An einem Ort versammelt und nie mehr verbummelt.</p>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/vorlagen.jpg" alt = "Homer" class = "img-responsive">
										<div class = "carousel-caption">
						<h3>Vorlagen</h3>
						<p>Warum die Hausarbeit neu erfinden?</p>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/graphik.jpg" alt = "Homer" class = "img-responsive">
										<div class = "carousel-caption">
						<h3>Eingabeassistenten</h3>
						<p>Ob Tabellen oder Graphiken, beides im Handumdrehen erstellt.</p>
					</div>
				</div>
				<div class = "item">
					<img src ="/static/img/faq.jpg" alt = "Homer" class = "img-responsive">
										<div class = "carousel-caption">
						<h3>FAQ</h3>
						<p>Noch Fragen?</p>
					</div>
				</div>
				<a	class = "carousel-control left" href = "#myCarousel" data-slide="prev">
					<span class = "icon-prev"></span>
				</a>
				
				<a	class = "carousel-control right" href = "#myCarousel" data-slide="next">
					<span class = "icon-next"></span>
				</a>
				
			</div>
		</div>

		
		<div class = "container">
            
            <div class = "row">
                
                <div class = "col-md-6">
                    
                    <h3>Einfache Bedienung</h3>
                    <p>Noch nie war Latex einfacher! Die übersichtliche Oberfläche bietet Dir die Funktionen, Deine Projekte zu verwalten, neue anzulegen und bestehende zu bearbeiten. Und das in wenigen Klicks, sekundenschnell!</p>
                    
                </div>
                
                <div class = "col-md-6">
                    
                    <h3>Assistenten</h3>
                    <p>Die Assistenten gehen Dir zur Hand und übernehmen Dir die Arbeit. Erspare Dir die teils komplizierten Latex-Befehle. </p>
                    
                </div>
                
                
            </div>
			
			            <div class = "row">
                
                <div class = "col-md-6">
                    
                    <h3>Arbeiten an jedem Ort</h3>
                    <p>Dein Arbeitsplatz ist nun überall! Ob zu Hause am Computer, unterwegs auf dem Smartphone oder in der Uni - Deine Projekte sind immer einsatzbereit.</p>
                    
                </div>
                
                <div class = "col-md-6">
                    
                    <h3>Umfangreiche Exportfunktionen</h3>
                    <p>Alles, was das Herz begehrt: pdf, html, ps, dvi.</p>
                    
                </div>
               
                
            </div>
            
        </div>
{% endblock %}

<!-- end of content to embed -->
