{% extends "_wrapper.html" %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="row">
    {% comment %}
        Stub Page
    {% endcomment %}

    <form action="" method="post" role="form">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Passwort">
        </div>

        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>

{% endblock %}
