<!--

* Purpose :

* Creation Date :

* Last Modified :

* Author : mattis

* Coauthors :   

* Sprintnumber : 1,4

* Backlog entry : 

-->

{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
{% endblock %}

<!-- Inhalt -->
{% block content %}
<div class="col-md-8 col-md-offset-2">
<div class="page-header">
	<h1>Passwort Wiederherstellung</h1>
</div>

<div class="jumbotron error">
	Wir bitten um Entschuldigung.
	Ihr Link um das Passwort ihres Accounts zu ändern ist mehr gültig. Bitte beachten Sie, dass solch ein Link nur 7 Tage gültig ist.
</div>

</div>

{% endblock %}
