<!--
@author: Thore Thießen
@creation: 04.12.2014 - sprint-nr: 2
@last-change: 12.12.2014 - sprint-nr: 3
-->

{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
<link rel="stylesheet" href="/static/css/listselector.css">
<script src="/static/js/listselector.js"></script>
<script src="/static/js/projekt.js"></script>
{% endblock %}

<!-- Inhalt -->
{% block content %}
<div id="inhalt">
<h1>Projektübersicht</h1>
<div>FIXME: Menüleiste einbinden</div>
<div id="projekte"></div>
</div>
{% endblock %}
