<!--
@author: Thore Thießen, Kirill Maltsev
@creation: 04.12.2014 - sprint-nr: 2
@last-change: 12.12.2014 - sprint-nr: 4
-->

{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
    <link rel="stylesheet" href="/static/css/projekt.css"> 
    <script src="/static/js/projekt.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/auth/validate.js"></script><!-- allgemeine einstellungen für jquery validate (Fehlermeldungen + Boostrap Komp.)-->
{% endblock %}



<!-- Inhalt -->
{% block content %}
<!-- Modal -->
<div class="modal fade" id="modal_deleteConfirmation" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Projekt löschen</h4>
      </div>
      <div class="modal-body">
        <p>Sind Sie sicher, dass Sie das ausgewählte Projekt löschen wollen?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal_deleteConfirmation_yes" data-dismiss="modal">Ja</button>
        <button type="button" class="btn btn-primary modal_deleteConfirmation_no" data-dismiss="modal">Nein</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
{% include "errormodal.html" with  modalerrorid='projectimporterror' %}
<div class="modal fade" id="projekt-import-modal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="importModalLabel">Projekt importieren</h4>
      </div>
      <div class="modal-body">
	<form class="form-horizontal" action="#" method="post" enctype="multipart/form-data" role="form" data-toggle="validator"  id="projektimportposter">
		{% csrf_token %}
		<input type="hidden" name="command" value="importzip"/>
		<div class="form-group has-feedback">
			<label for="projektzipfile" class="col-sm-3 control-label">Projekt (als zip)</label>
			<div class="col-sm-9">
				<input type="file" name="files" class="form-control" id="files">
			</div>
		</div>
		<div id='checkboxdiv' class="hidden form-group has-feedback">
			<div class="col-sm-offset-3 col-sm-3">
				<input type="checkbox" name="overwritecheckbox" class="form-control" id="overwritecheckbox">
			</div>
			<label for="overwritecheckbox" id="overwritecheckboxlabel" class="col-sm-6 control-label">Wollen sie das bestehende Projekt überschreiben?</label>
		</div>

		<div class="modal-footer col-sm-offset-2">
			<button type="submit" class="btn btn-primary">hochladen</button>
		</div>
	</form>
      </div>
    </div>
  </div>
</div>

<div class="input_popover" id="input_popover" data-container="body" data-toggle="popover" data-placement="top" data-content="Geben Sie einen Namen ein:"></div>

<div class="error_popover" id="error_popover" data-container="body" data-toggle="popover" data-placement="top"></div>

<h1>Projekte</h1>

<div class="projectscolumn">
    <div class="btn-toolbar hidden-xs projecttoolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default projecttoolbar-open" disabled>Öffnen</button>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default projecttoolbar-new">Erstellen</button>
            <button type="button" class="btn btn-default projecttoolbar-delete" data-toggle="modal" data-target="#modal_deleteConfirmation" disabled>Löschen</button>
            <button type="button" class="btn btn-default projecttoolbar-rename" disabled>Umbennenen</button>
            <button type="button" class="btn btn-default projecttoolbar-duplicate" disabled>Duplizieren</button>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default projecttoolbar-converttotemplate" disabled>in Vorlage umwandeln</button>
            <button type="button" class="btn btn-default projecttoolbar-export" disabled>Export</button>
            <button type="button" class="btn btn-default projecttoolbar-import" data-toggle="modal" data-target="#projekt-import-modal">Import</button>
        </div>
    </div>

    <div class="btn-toolbar visible-xs-block projecttoolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default projecttoolbar-open" disabled>
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default projecttoolbar-new">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default projecttoolbar-delete" disabled>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default projecttoolbar-rename" disabled>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default projecttoolbar-duplicate" disabled>
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </button>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default projecttoolbar-converttotemplate" disabled>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default projecttoolbar-export" disabled>
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default projecttoolbar-import">
                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div class="projectswrapper" style="max-width: 820px"></div>
</div>

{% endblock %}
