<!--

* Purpose :

* Creation Date :

* Last Modified :

* Author : mattis

* Coauthors :   

* Sprintnumber : 1,4

* Backlog entry : 

-->

{% extends "_wrapper.html" %}

<!-- Header -->
{% block header %}
	<script src="/static/js/jquery.validate.min.js"></script>
	<script src="/static/js/jquery.validate.additional-methods.min.js"></script><!-- benötigt um pattern matching (regexp) nutzen zu können -->
	<script src="/static/js/auth/validate.js"></script><!-- allgemeine einstellungen für jquery validate (Fehlermeldungen + Boostrap Komp.)-->
	<script src="/static/js/auth/registration.js"></script><!-- validate einstellungen speziell für die Registrierung -->
{% endblock %}

<!-- Inhalt -->
{% block content %}
<div class="col-md-8 col-md-offset-2">
<div class="page-header">
	<h1>Registrierung</h1>
</div>
<form class="form-horizontal" id="regform" data-toggle="validator" action="#" method="post" role="form">{% csrf_token %}
	<div class="form-group has-feedback">
		<label for="first_name" class="col-sm-2 control-label" placeholder="Vorname">Vorname</label>
		<div class="reg-input-group col-sm-10">
			<input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}" placeholder="Vorname" aria-describedby="inputError2Status">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label for="email" class="col-sm-2 control-label" placeholder="email">Email</label>
		<div class="reg-input-group col-sm-10">
			<input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}" aria-describedby="inputError2Status">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label for="password1" class="col-sm-2 control-label" placeholder="Passwort">Passwort</label>
		<div class="reg-input-group col-sm-10">
			<input type="password" class="form-control" id="password1" name="password1" placeholder="Passwort"  aria-describedby="inputError2Status">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label for="password2" class="col-sm-2 control-label" placeholder="Passwort">Passwort wiederholen</label>
		<div class="reg-input-group col-sm-10">
			<input type="password" class="form-control" id="password2" name="password2" placeholder="Passwort" aria-describedby="inputError2Status">
			<div class="help-block with-errors"></div>
		</div>
	</div>


	<div class="col-sm-offset-2">
		<button type="submit" class="btn btn-lg btn-primary btn-block">registrieren</button>
	</div>
</form>
</div>

{% endblock %}
